<div
  class="terminal"
  id="app-[COMPONENT_ID]"
  appname="Terminal"
  icon="bash.svg"
  resizable="true"
>
  <div class="window-controls" id="window-controls-[COMPONENT_ID]">
    <div class="window-buttons">
      <button class="button close" id="win-close-btn-[COMPONENT_ID]">
        <img src="assets/icons/controls/win-close.png" alt="Close window" />
      </button>
      <div
        role="button"
        class="button-checkbox"
        id="win-minimize-btn-[COMPONENT_ID]"
      >
        <img
          src="assets/icons/controls/win-minimize.png"
          alt="Minimize window"
        />
      </div>
      <div
        role="button"
        class="button-checkbox"
        id="win-maximize-btn-[COMPONENT_ID]"
      >
        <img src="assets/icons/controls/win-full.png" alt="Maximize window" />
      </div>
    </div>

    <div>
      <span class="display-time muted"></span>
    </div>
  </div>

  <div class="window-viewport">
    <div class="toolbar">
      <span>Welcome back, arscslvt.</span>

      <div>
        <p class="muted">
          Last login: <span id="last-session-[COMPONENT_ID]"></span> on ttys001
        </p>
      </div>
    </div>
    <div class="commands-view">
      <div class="editable" id="commands-list-[COMPONENT_ID]">
        <!-- <div class="command-row command-item blink-caret"></div> -->
      </div>
      <div class="command command-row user-command">
        <div class="command-prompt">
          <span class="command-prompt-text">user@localhost~$</span>
        </div>
        <div
          class="command-row user-command"
          id="command-input-[COMPONENT_ID]"
          contenteditable="true"
        ></div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/styles/terminal/style.css" />

<script
  src="../js/page/command-handler.js"
  title="terminal command handler"
></script>
<script
  src="../js/components/terminal/handler.js"
  defer
  title="terminal window handler"
></script>
<script
  src="../js/renderer/window-manager.js"
  defer
  title="window manager"
></script>
