@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --radius: 0.3rem;

  --font-mono: "Roboto Mono", monospace;
  --font-sans: "Inter Tight", sans-serif;

  font-family: var(--font-mono);
  color: var(--text);

  user-select: none;
  --webkit-user-select: none;
}

[data-theme="orange"] {
  --background: hsl(240, 6%, 10%);
  --background-opaque: hsla(240, 6%, 10%, 0.8);

  --text: hsl(240, 5%, 96%);
  --opaque: hsl(240, 5%, 84%);

  --accent: hsl(25, 95%, 53%);
  --accent-opaque: hsla(25, 95%, 53%, 0.3);
}

[data-theme="blue"] {
  --background: hsl(220, 6%, 10%);
  --background-opaque: hsla(220, 6%, 10%, 0.8);

  --text: hsl(220, 5%, 96%);
  --opaque: hsl(220, 5%, 84%);

  --accent: hsl(222, 100%, 79%);
  --accent-opaque: hsla(230, 95%, 53%, 0.3);
}

[data-theme="green"] {
  --background: hsl(160, 6%, 10%);
  --background-opaque: hsla(160, 6%, 10%, 0.8);

  --text: hsl(160, 5%, 96%);
  --opaque: hsl(160, 5%, 84%);

  --accent: hsl(159, 95%, 53%);
  --accent-opaque: hsla(159, 95%, 53%, 0.3);
}

[data-theme="purple"] {
  --background: hsl(280, 6%, 10%);
  --background-opaque: hsla(280, 6%, 10%, 0.8);

  --text: hsl(280, 5%, 96%);
  --opaque: hsl(280, 5%, 84%);

  --accent: hsl(280, 100%, 70%);
  --accent-opaque: hsla(280, 95%, 53%, 0.3);
}

body {
  position: fixed;
  top: 0;
  left: 0;

  height: 100dvh;
  width: 100dvw;

  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;

  height: 100dvh;
  width: 100dvw;

  max-height: 100dvh;
  max-width: 100dvw;

  overflow: hidden;

  padding: 0rem;

  transition: padding 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);

  background: url("/assets/images/wallpaper-orange.jpg") no-repeat center 80%
    fixed;
  background-size: cover;
}

[data-theme="orange"] .container {
  background: url("/assets/images/wallpaper-orange.jpg") no-repeat center 80%
    fixed;
  background-size: cover;
}

[data-theme="blue"] .container {
  background: url("/assets/images/wallpaper-blue.jpeg") no-repeat center 80%
    fixed;
  background-size: cover;
}

[data-theme="green"] .container {
  background: url("/assets/images/wallpaper-green.jpeg") no-repeat center 80%
    fixed;
  background-size: cover;
}

[data-theme="purple"] .container {
  background: url("/assets/images/wallpaper-purple.jpeg") no-repeat center 80%
    fixed;
  background-size: cover;
}

.resizable {
  resize: both;
  overflow: auto;
}

.window-app {
  position: absolute;

  background-color: var(--background-opaque);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  color: var(--text);

  font-family: "Roboto Mono", monospace;
  font-size: 14px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  border-radius: var(--radius);
  border: 0px;

  max-height: 100%;
  max-width: 100%;

  z-index: 10;
}

.window-controls {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  width: 100%;
}

.window-buttons {
  display: flex;
  gap: 0.4rem;
  padding-bottom: 1rem;
}

.button-checkbox {
  border: 0;
  padding: 0;
  outline: none;
  background: none;

  appearance: none;
  --webkit-appearance: none;
}

.button {
  border: 0;
  padding: 0;
  outline: none;
  background: none;

  appearance: none;
  --webkit-appearance: none;
}

.window-buttons .button {
  height: 1rem;
  width: 1rem;

  border-radius: 50%;

  cursor: pointer;

  filter: contrast(0.1) grayscale(1);

  transition: filter 0.2s, transform 0.2s;

  position: relative;
  z-index: 20;
}

.window-buttons .button-checkbox {
  height: 1rem;
  width: 1rem;

  border-radius: 50%;

  cursor: pointer;

  filter: contrast(0.1) grayscale(1);

  transition: filter 0.2s, transform 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.window-buttons .button-checkbox input {
  position: absolute;
  opacity: 0;

  cursor: pointer;
  z-index: 0;
}

.window-buttons .button:active {
  transform: scale(0.9) !important;
}

.window-buttons .button:hover {
  transform: scale(1.05);
  filter: contrast(1) grayscale(0);
}

.window-buttons .button-checkbox:active {
  transform: scale(0.9) !important;
}

.window-buttons .button-checkbox:hover {
  transform: scale(1.05);
  filter: contrast(1) grayscale(0);
}

.window-buttons .button img {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 0;

  pointer-events: none;
  user-select: none;
}

.window-buttons .button-checkbox img {
  height: 100%;
  width: 100%;

  position: relative;
  z-index: 0;

  pointer-events: none;
  user-select: none;
}

.toolbar {
  font-size: 12px;
  padding-bottom: 1.5rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
}

.toolbar div {
  text-align: right;
}

.muted {
  opacity: 0.5;
}

.word-break {
  word-break: break-all !important;
}

@media screen and (max-width: 420px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  #maximize-button {
    display: none;
  }
}
